@model WebsiteAboutSneks.Models.Snake

<head>
    <style>
        textarea {
            width: 150px;
            min-width: 75%;
            height: 100px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }
    </style>
</head>
@{
    int icount=0;
    if (Model == null)
    {
        <h2>Uh oh!</h2>
        <h3>Snake not found!</h3>
        <p>It looks like we had a noodle escape! Please contact us immediately so we can track it down.</p>
    }
    else
    {
        <div class="container show-container">
            <div class="row">
                <div class="col-md-5">
                    <h2></h2>
                    <p><strong>Name:</strong> @Model.SnakeName</p>
                    <p><strong>Age:</strong> @Model.SnakeAge</p>
                    <p><strong>Breed:</strong> @Model.Breed.BreedDescription</p>
                    <p><strong>Owner:</strong> @Model.Owner.OwnerFirstName @Model.Owner.OwnerLastName</p>
                    <p>@Model.SnakeTalk</p>
                </div>
                <div class="col-md-7">
                    <!--<img src="" class="img-responsive img-rounded img-show" />-->
                </div>
            </div>
        </div>
        <br />
        <!--<div class="container jumbotron">
            <form>
                <h2>Got questions about</h2>
                <p>Name: <input type="text" name="Name" placeholder="John Smith"></p>
                <textarea placeholder="I have a question..."></textarea>
                <p></p>
                <button>Submit</button>
            </form>
        </div>
        <h2>Frequesntly Asked Questions about</h2>
        <div class="jumbotron">
            <h3>John Smith</h3>
            <p>What iss favorite food? </p>
            <button>Reply</button>
        </div>-->

        <h1>Questions about @Model.SnakeName:</h1>
        <div class="">
            @foreach (var answer in ViewBag.Answers)
            {
                icount++;

                <h3>@icount. @answer.Questions.QuestionText</h3>
                <p>A: @answer.AnswerText</p>
            }
        </div>

        <h4>Wanna ask a question about @Model.SnakeName?</h4>
        <a class="btn btn-success" href="@Url.Action("AskQuestion", "Questions", new { id = Model.SnakeID })">Ask a Question</a>
    }
}

