@model WebsiteAboutSneks.Models.ContactInfo

@{
    ViewBag.Title = "Index";
}


<div class="jumbotron" style="background-image:url(https://wallpaper-house.com/data/out/9/wallpaper2you_295356.jpg); max-width:100%;min-height:300px"></div>
@Html.ActionLink("Home", "Index", "Home")
> <span>Contact</span>
<br />
<br />
<address>
    Slytherin Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Snake Team:</strong>   <a href="mailto:Support@example.com">Snake@Snek.com</a><br />
</address>
<h2>Contact us below</h2>

<div class="jumbotron">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <p>
            Name: @Html.TextBoxFor(x => x.Name, new { placeholder = "John Smith" })
            Email: @Html.TextBoxFor(x => x.Email, new { placeholder = "Email@gmail.com" })
        </p>
        <p>
            Subject: @Html.DropDownListFor(x => x.Subject, new[]
{new SelectListItem()
{Text = "Questions about snakes", Value="1"},
new SelectListItem()
{Text = "My snake story", Value ="2"},
new SelectListItem()
{Text = "Snake Care", Value ="3"},
new SelectListItem()
{ Text = "Other", Value = "4" } }, "Choose a subject")
        </p>
        <p>Message: @Html.TextAreaFor(x => x.Message, 10, 40, htmlAttributes: new { placeholder = "Message...", style = "width: 100%; max-width: 100%;" })</p>

        <input type="submit" value="Send Message" />
    }
</div>

